.contact {
  background-color: #000;
}

.follow {
  position: relative;
  /* padding-left: 950px; */
  padding-top: 250px;
  font-size: 20;
}
.emblem_black {
  width: 40px;
  margin-left: 135px;
  margin-top: 200px;
  margin-bottom: 10px;
}
.links {
  text-decoration: underline;
}
.h {
  color: #a5a5a5;
}

.footer_contact {
  position: relative;
  padding-bottom: 20px;
  padding-left: 130px;
}
