
/* img {
  width: 100%;
  height: 100%;
} */

.img_contact {
  padding-left: 300px;
  width: 725px;
  height: 725px;
}
/* .list {
  padding-left: 135px;
  padding-top: 280px;;
} */
.contact {
  background-color: #000;
  width: 1920px;
}
.follow {
  position:absolute;
  left: 950px;
  top: 250px;
  
}
.emblem_black {
    width: 40px;
    margin-left: 135px;
    margin-top: 200px;
    margin-bottom: 10px;
}
.links {
  text-decoration: underline;
}
.h{
  color: #a5a5a5;
}