// body{
//   width: 100%;
//   height: 100%;
  
// }
// .wrapper {
//   width: 100%;
//   height: 100%;

// // max-width: 1000px;
// // background-color: rgb(93, 174, 224);
// // min-width: 410px;
// // border-color: black;

// .work{
//   background-color: black;
  
// }
// }
.home {
  font-family: 'Inter', sans-serif;
  background-image: url(../src/assets/mainTitle.jpg);
  // background-position: left 5%;
  background-size: cover;
  width: 117vw;
  height: 130vh;
  // width: 1800px;
  // height: 1000px;
  // height: 100%;
  // width: 100%;
  // min-width: 410px;
  

  footer{
    // точные значения левого отступа и сверху
    margin-left: 9%; 
    margin-top: 16.75%;
    p{
      color: #8f8c85;
      --link-color: #eae8e3;
      --hover-color: #f7f5f1;
       
    }
  }
  nav{
    
      // точные значения левого отступа и сверху
      margin-left: 13%; 
      margin-top: -7.3%;
      ul{
        margin-left: 5%;
        li{
          margin-bottom: 0%;
          list-style-type: none;
          color: white;
         
          a{
            color: silver;
            
            font-size: 57px;
            &:hover{
              text-decoration: line-through; 
              font-size: 67px;
              color: white;
            }
            
          }
        }
      }
    }
}

// p {
//   margin-left: 0%;
//   // background-color: orange;
// }
header{
  // background-color: aqua;
  margin-right: 30%;
  padding-left: 6.75%;
  padding-top: 17.5%;
  font-size: 25px;
  li {
    margin-left: 0%;
    list-style-type: none;
    // margin-bottom: 25%;
  
  }

}

a {
  width: 70%;
  color: silver;
  text-decoration: none;

}

img {
  // background-image: url(../src/assets/pizza-logo.png) ;
 
  // width: 400px;
  // height: 400px;

  width: 30vw;
  height: 52vh;

  margin-left: 0%;
  .media {
    width: 100%; 
    height: 100%;
}
}
.parent {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
}
// .child {
//   width: 100%;
//   height: 100%;
// }
.childA {
  width: 100%;
  height: 100%;
  
  ul{
    li{
      font-size: 30px;
      color: #8f8c85;
      --link-color: #eae8e3;
      --hover-color: #f7f5f1;
      
    }
  }
}
.img_home {
  width: 300%;
  // width: 150%;
  margin-top: -16%;
  height: 100%;
  margin-left: -10%;
  min-width: 200px;
  min-height: 250px;
}
.illustrations {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 2000px;
    // height: 100%;
    // margin-top: -82%;
    padding-left:35%;
    background: black;
    position:relative;
  img{
    width: 40%;
    height: 20%;
  }
}
.block_portrait {
  background-color: rgb(41, 38, 43);
  width: 80%;
  height: 80%;
  display: flex;
  flex-flow: row nowrap;
  
img{
  height: 100%;
}
}
.child1{
  height: 100%;
  // img{
  //   // min-height: 40%;
  //   // min-width: 30%;
  // }
}
.description{
  background-color: rgb(41, 38, 43);
  // width: 40%;
  // margin-left: 40%;
  
  p{
    margin-left: 1%;
    color: white;
    padding-top: 20%;
  }
  footer{
    margin-left: 50%;
    p{
      color: white;
      padding-top: 5%;
    }
  }
  
}
.contact {
  // width: 450px;
  // font-size: 20px;
  p{
    font-size: 25px;
    text-decoration: underline;
    margin-left: 30%;
  }
  ul{
    margin-left: 20%;
    
    li{
      margin-bottom: 15%;
      font-size: 25px;
      list-style-type: none;
      text-decoration: underline;
      color: white;
    }
  }
}
h3{
  color: #8f8c85;
  --link-color: #eae8e3;
  --hover-color: #f7f5f1;
  font-size: 0.72em;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  margin-left: 30%;

}


