body {
  max-width: 2160px;
  margin: 0 auto;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// .html {
//   background-color: #f1f1f0;
//     color: #060606;
//     --link-color: currentcolor;
//     --hover-color: #5f3220;

//     font-size: calc(16px + 0.1vw);
//     font-family: "Quercus", serif;
//     line-height: 1.35;
//     transition: background-color 60ms 120ms, color 0ms 120ms;
//     --x-over-line: 0.83;

//     -webkit-locale: "en";
//     display: block;
// }

div {
  display: block;
}
.wrapper {
 max-width: 1100px;
max-height: 250px;

  display: block;
  color: #060606;
  --link-color: currentcolor;
  --hover-color: #5f3220;
  font-size: calc(16px + 0.1vw);
  font-family: "Quercus", serif;
  line-height: 1.35;
  --x-over-line: 0.83;
}

.headerLeft {
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: var(--horizon) [horizon] auto min-content;
    width: 192vh;
    max-width: 100%;
    min-height: 100vh;
    margin: auto;
    --horizon: 35vh;

  display: grid;

}
.low {
  position: sticky;
    top: var(--horizon);
    z-index: 1;
    grid-row: 2;
    grid-column: 1;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: calc(1rem * (1 + 1 - var(--x-over-line)));
    --attachment: attached;
    --autograph-size: 1.25em;

    display: flex;
    --horizon: 35vh;
    color: #060606;
    --link-color: currentcolor;
    --hover-color: #5f3220;

    font-size: calc(16px + 0.1vw);
    font-family: "Quercus", serif;
    line-height: 1.35;
    --x-over-line: 0.83;
}
.autograph {
    top: -2.4rem;
    left: -0.75rem;
    margin-left: 0;
    margin-bottom: -1.25rem;
    
    position: relative;
    width: var(--autograph-size);
    height: var(--autograph-size);

    margin-right: -0.5em;

    display: block;

    --attachment: attached;
    --autograph-size: 1.25em;

    --horizon: 35vh;

    --link-color: currentcolor;
    --hover-color: #5f3220;

    font-size: calc(16px + 0.1vw);
    font-family: "Quercus", serif;
    line-height: 1.35;

    --x-over-line: 0.83;
}

a {
  color: var(--link-color);
  transition: color 220ms;
  text-decoration: none;
}
.svetle-18 {
  color: var(--link-color);
    transition: color 220ms;

    --attachment: attached;
    --autograph-size: 1.25em;

    --horizon: 35vh;

    --link-color: currentcolor;
    --hover-color: #5f3220;

    font-size: calc(16px + 0.1vw);
    font-family: "Quercus", serif;
    line-height: 1.35;

    --x-over-line: 0.83;

    display: none;

}
.svelte-81{
  fill: currentColor;

  overflow-clip-margin: content-box;
  overflow: hidden;
  &__a{
    color: var(--link-color);
  }
  --attachment: attached;
  --autograph-size: 1.25em;

  --horizon: 35vh;

  --link-color: currentcolor;
  --hover-color: #5f3220;

  font-size: calc(16px + 0.1vw);
  font-family: "Quercus", serif;
  line-height: 1.35;

  --x-over-line: 0.83;
}
// .svelte-dmnv9n {
//   background-color: aliceblue;
//   position: absolute;
// }
nav {
  display: block;

  --attachment: attached;
  --autograph-size: 1.25em;

  --horizon: 35vh;

  --link-color: currentcolor;
  --hover-color: #5f3220;

  font-size: calc(16px + 0.1vw);
  font-family: "Quercus", serif;
  line-height: 1.35;

  --x-over-line: 0.83;

}
.home_block {
  flex-flow: column nowrap;
  padding: 0;
  font-size: 1em;
  // display: flex;
  margin: 0;
  // width: ;

  // margin-block-start: 1em;
  // margin-block-end: 1em;
  // margin-inline-start: 0px;
  // margin-inline-end: 0px;
  // padding-inline-start: 40px;
  margin-left: 40vw;
}
.svelte-dmnv9n{
  flex-flow: column nowrap;
  padding: 0;
  font-size: 1em;
  letter-spacing: 0.1em;

  display: flex;
  align-items: baseline;
  margin: 0;
  list-style: none;
  text-transform: uppercase;


  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;

  --attachment: attached;
  --autograph-size: 1.25em;

  --horizon: 35vh;

  --link-color: currentcolor;
  --hover-color: #5f3220;

  font-family: "Quercus", serif;
  line-height: 1.35;

  --x-over-line: 0.83;
  font-family: "QuercusMedium", serif;

}
// ul {
//     width: 1200px;
//     background-color: aliceblue;
//     position: absolute;
// }
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

img {
  // background-image: url(../src/assets/pizza-logo.png);
  background-image: url(../src/assets/pizza-logo.png);
  background-size: 50%;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  min-width: 100%;
  min-height: 100%;
  // position: fixed;
  max-width: 100%;
  max-height: 100%;
  margin-left: 20vw;
  // background-size: none;
  
}
p {
  width: 200px;
}
footer {
  position:absolute;
  width: 200px;
  margin-top: -45vh;
  margin-left: 75vw;
}
.home {
   // display: flex;
   flex-direction: column;
   position: sticky;
   width: 420px;
   height: 100%;
   right: 0;
   background: #FFFFFF;
  //  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
   padding: 30px;
   .items {
     flex: 1;
     overflow:auto;
     margin-bottom: 40px;
   }
     h2 {
       margin: 0;
     }
 } 
.work {
  // display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 720px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  // box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  .items {
    flex: 1;
    overflow:auto;
    margin-bottom: 40px;
  }
    h2 {
      margin: 0;
    }
}
.description {
  margin-left: 20px;
  width: 50%;
}
.img_home {
  position: absolute;
  width: 70%;
  height: 70%;
  max-width: 70%;
  max-height: 70%;
  left: -25vw; 
}
