.image_block__image {
  width: 70%;
  height: 30%;
}
.image_block_wrapper {
  /* left: 500px; */
  position: relative;
  /* margin: 20px; */
  padding-left: 400px;
}
.work {
  background-color: #101010;
}
.left_block {
  /* background-color: white; */
  position: fixed;
  /* left: 200px;
  top: 300px; */
  display: inline-block;
  width: 400px;
  height: 750px;
}
.list {
  padding-left: 135px;
}
.text {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
.scroll {
  position: fixed;
  top: 700px;
  padding-left: 130px;
}
p {
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  color: #484848;
  font-size: 8px;
}
